---
title: GIT repositories
description: |-
 Git repositories are hosted at framagit, gitlab and github,
 they are where our static data resides
gitlab_url: https://gitlab.com/xn--1g8h/overview
glpage_url: https://🌕.gitlab.io/overview
puny_url: https://ixn--1g8h.gitlab.com/overview

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="holoGIT.svg">

    <title>🌕 {{page.title}} {{site.name}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
{% assign _3col = "mx-auto col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12" %}
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><img src=holoGIT.svg class=btn-icon> {{site.title}}</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{{page.gitlab_url}}">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{page.title}}.</h1>
        <p class="lead">{{page.description}}</p>
        <p class="lead">
        <a href=https://gitlab.com/dashboard/projects><img src=images/gitlab-fox.svg class=btn-icon></a>
        <a href=https://github.com/?tab=projects><img src=images/github-octocat.svg class=btn-icon></a>
        <a href=https://framagit.org/dashboard><img src=images/framagit-penguin.png class=btn-icon></a>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

<div class="text-left d-flex h-100 p-3 mx-auto flex-column">

<div>
<h3>MLP repositories</h3>
<ul>
<li> holoWiki : <a href=https://gitlab.com/kin4/holowiki>https://gitlab.com/kin4/holowiki</a>
<li> websites : <a href=https://gitlab.com/xn--h98h/sites/>https://gitlab.com/xn--h98h/sites/</a>
<ul>
<li> holosphere.ml : <a href=https://gitlab.com/xn--h98h/sites/holosphere.ml>https://gitlab.com/xn--h98h/sites/holosphere.ml</a>
</ul>
</ul>
<h3> holoTeam repositories</h3>
<ul>
<li> holoTeam Group : <a href=https://framagit.org/holoteam>https://framagit.org/holoteam</a>
<ul>
<li> holoNotes : <a href=https://framagit.org/holonotes>https://framagit.org/holonotes</a>
</ul>
</ul>
<h3> holoSphere repositories</h3>
<ul>
<li> holoSphere Group : <a href=https://gitlab.com/holosphere4/>https://gitlab.com/holosphere4</a>
<ul>
<li> holoBook : <a href=https://gitlab.com/holosphere4/holobook>https://gitlab.com/holosphere4/holobook</a>
</ul>
<ul>
<li> holoTools : <a href=https://framagit.org/holosphere/holoTools>https://framagit.org/holosphere/holoTools</a>
</ul>
</ul>

<h3> KIN repositories</h3>
<ul>
<li> KIN Group : <a href=https://gitlab.com/kin4/>https://gitlab.com/kin4</a>
<ul>
<li> holoLabs : <a href=https://gitlab.com/kin4/hololabs/>https://gitlab.com/kin4/hololabs</a>
</ul>
</ul>
</div>
</div>

<br>

<div>
<h3>All GIT Repositories (on <a href=https://ipfs.io/ipfs/{{site.data.repo.qmrepo}}/>IPFS</a>)
<small>(as of {{site.data.repo.date}})</small></h3>
<div class="row text-center text-lg-left">
{% for card in site.data.repo-list reversed %}
<div class="card idx-{{forloop.index}} col-6 col-sm-4 col-md-3 col-lg-2 mxy-auto" style="width: 18rem;">
  <a href="{{card.url}}"><img class="card-img-top" src="{{card.thumb}}" alt="Card image cap"></a>
  <div class="card-body">
    <h5 class="card-title">{{card.name}}</h5>
    <p class="card-text">{{card.description}}</p>
    <a href="{{card.url}}" class="btn btn-primary"><img class="btn-icon" src="{{card.button}}"> Visit</a>
  </div>
</div>
{% endfor %}
</div>
</div>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>{{site.name}} page for <a href="https://holoKIN.ml/">holoKIN</a>, by <a href="{{site.search}}=Michel+G.+Combes">@michelc</a>.</p>
          (located at <a href={{page.glpage_url}}>{{page.glpage_url}}</a>)
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
